.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input[type=text]{
  width: 50px;
  height: 35px;
  background: #5F9EA0;
  border: none;
  float: inherit;
  font-size: 11pt;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input[type=text]::-webkit-input-placeholder {
   color: #65737e;
}

.container-2 input[type=text]:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-2 input[type=text]::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-2 input[type=text]:-ms-input-placeholder {
   color: #65737e;
}

.container-2 .icon{
  position: absolute;
  top: -30%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input[type=text]:focus, .container-2 input[type=text]:active{
    outline:none;
}

.container-2:hover input[type=text]{
width: 250px;
}

.container-2:hover .icon{
  margin-top: 16px;
    color: #93a2ad;

    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}
