.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-2{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input[type=text]{
  width: 50px;
  height: 35px;
  background: #5F9EA0;
  border: none;
  float: inherit;
  font-size: 11pt;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input[type=text]::-webkit-input-placeholder {
   color: #65737e;
}

.container-2 input[type=text]:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-2 input[type=text]::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-2 input[type=text]:-ms-input-placeholder {
   color: #65737e;
}

.container-2 .icon{
  position: absolute;
  top: -30%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input[type=text]:focus, .container-2 input[type=text]:active{
    outline:none;
}

.container-2:hover input[type=text]{
width: 250px;
}

.container-2:hover .icon{
  margin-top: 16px;
    color: #93a2ad;

    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

.adding-background {
    /* The image used biru6 biru7 biru8 biru16 biru17 biru18*/
    /* background-image: url(./img/biru.jpg); */

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  position: relative;
  margin-top: 461px;
  /* negative value of footer height */
  height: 140px;
  clear: both;
  background-color: blue;
}


/* Opera Fix thanks to Maleika (Kohoutec) */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}

#demo-2 input {
	outline: none;
}
#demo-2 input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
#demo-2 input::-webkit-search-decoration,
#demo-2 input::-webkit-search-cancel-button {
	display: none;
}


#demo-2 input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#demo-2 input:-moz-placeholder {
	color: #999;
}
#demo-2 input::-webkit-input-placeholder {
	color: #999;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  body {
    margin:0;
    padding:0;
    background-image: url(./img/biru.jpg);
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-conatiner{border:0px solid #fff; padding:10px 10px; margin-top: 0vh;
    .webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    .moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  }
  .loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .loginbox input{
    width: 100%;
    margin-bottom: 20px;
  }
  /* .loginbox input[type="password"], input[type="text"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
  }

  .loginbox input[type="text"], input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
  } */
